<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" >Dating App</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarT" aria-controls="navbarT"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div id="navbarT" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active"> Matches </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/lists']" routerLinkActive="active"  class="nav-link"> List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active"> Messages</a>
        </li>
      </ul>
      <ng-container *ngIf="!isLoggedIn">
        <form [formGroup]="userLoginForm" class="form-inline my-2 my-lg-0">
          <div class="form-group" formGroupName="userLogin">
            <div class="form-group">
              <input class="form-control mr-sm-2" type="text" formControlName="username" placeholder="Email" class="form-control" style="
              margin: 3px;">
            </div>
            <div class="form-group">
              <input class="form-control mr-sm-2 m-lg-auto" type="password" formControlName="password" placeholder="Password" class="form-control" style="
              margin: 3px;">
            </div>
            <button type="submit" class="btn btn-success" (click)="signIn(userLoginForm.get('userLogin').value)" [disabled]="!userLoginForm.valid">Sign in</button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <ul class="navbar-nav  navbar-right">
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()">Logout</a>
          </li>
          <li class="dropdown" dropdown>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">{{welcomeUser}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu nav-item" *dropdownMenu>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fa fa-user" ></i>Edit Profile</a>
              </li>
              <li >
                <a class="dropdown-item" (click)="logOut()">
                  <i class="fa fa-sign-out" ></i>Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>


