<app-spinner *ngIf='(isLoading$ | async)'></app-spinner>


<div class='container-fluid' *ngIf='!(isLoading$ | async)'>
  <div class='row'>
    <div class='col-lg-3 col-md-5 col-sm-12 '>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]='UserDetail.PhotoUrl' alt="Card image cap">
        <div class="card-body">
          <h5><strong>Location:</strong></h5>
          <p class="card-text">{{UserDetail.City}}, {{UserDetail.Country}}</p>
          <h5><strong>Age:</strong></h5>
          <p class="card-text">{{UserDetail.Age}}</p>
          <h5><strong>Last Active:</strong></h5>
          <p class="card-text">{{UserDetail.LastActive }}</p>
          <h5><strong>Member Since:</strong></h5>
          <p class="card-text">{{UserDetail.CreatedAt | date: 'mediumDate'}}</p>
        </div>
      </div>
    </div>
    <div class='col-lg-9 col-md-7 col-sm-12 card' *ngIf='UserDetail'>
      <app-user-edit-profilenav-card *ngIf='UserDetail' [(userDetailToEdit)]='UserDetail'></app-user-edit-profilenav-card>
    </div>
  </div>
</div>
