<div class='container-fluid'>
  <div class="row">
    <div class='col-lg-2 col-md-3 col-sm-6 mt-2' *ngFor='let user of userModel'>
      <div class='card mb-4'>
        <div class='card-img-wrapper'>
          <img class="card-img-top" [src]='user.PhotoURL' alt="Card image cap">
          <ul class='list-inline member-icons animate text-center'>
            <li class='list-inline-item'>
              <!-- <a [routerLink]="['/members', user.Id]" routerLinkActive="router-link-active"> -->
                <button class='btn btn-primary'>
                  <i class='fa fa-user'></i>
                </button>
              <!-- </a> -->
            </li>
            <li class='list-inline-item'>
              <!-- <a [routerLink]="['/members', user.Id]" routerLinkActive="router-link-active"> -->
                <button class='btn btn-primary' (click)='SendLike(user.Id, user.KnownAs)'>
                  <i class='fa fa-heart'></i>
                </button>
              <!-- </a> -->
            </li>
            <li class='list-inline-item'>
              <!-- <a [routerLink]="['/members', user.Id]" routerLinkActive="router-link-active"> -->
                <button class='btn btn-primary'>
                  <i class='fa fa-envelope'></i>
                </button>
              <!-- </a> -->
            </li>
          </ul>
        </div>
        <div class="card-body p-1">
          <p class="card-text text-center mb-1">
            <a [routerLink]="['/members', user.Id]" routerLinkActive="router-link-active">
              <i class="fas fa-user-alt"></i> &nbsp; <strong>{{ user.Username + ', '}}{{user.Age}}</strong>
            </a>
          </p>
          <p class="card-text text-muted text-center">{{user.City}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
