<ng-container>
  <div class="container-fluid ">
    <div class="col-sm-12 ">
  <form [formGroup]="registerForm">

    <h2 class="text-center text primary">Sign Up</h2>

    <hr>
    <div class="form-group" formGroupName="userRegister">
      <input type="text" formControlName="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group" formGroupName="userRegister">
      <input type="text" formControlName="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group text-center">
      <button type="button" class="btn btn-success " (click)="register(registerForm.get('userRegister').value)" style="margin-right: 15px;" >Submit</button>
      <button type="button" class="btn btn-secondary" (click)=" cancel()" style="margin-left: 15px;">Cancel</button>
    </div>
  </form>
</div>
</div>
</ng-container>
